<a href="https://colab.research.google.com/github/VASUDEVAKAMASWAMI/TT-2C2025-Data-Analitycs-Notebooks/blob/main/Copia_de_pre_entrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
PRE-ENTREGA (Análisis de datos con Pyhon)
Julio Carossella - 11.180.709

# Etapa 1: Recopilación y Preparación de Datos (Clases 1 a 4)
Objetivo: Demostrar habilidades en Python, familiaridad con el entorno de trabajo y conocimientos básicos sobre manipulación de datos.

### Actividad 1 ---> Importar los DataSets
Crear un documento en Google Colaboratory y cargar los sets de datos como DataFrames.

In [ ]:
import pandas as pd

In [ ]:
# Importar dataset ventas
df_ventas = pd.read_csv("https://raw.githubusercontent.com/VASUDEVAKAMASWAMI/TT-2C2025-Data-Analitycs-Notebooks/refs/heads/main/PreEntrega/Datasets/ventas.csv")

In [ ]:
# Importar dataset clientes
df_clientes = pd.read_csv("https://raw.githubusercontent.com/VASUDEVAKAMASWAMI/TT-2C2025-Data-Analitycs-Notebooks/refs/heads/main/PreEntrega/Datasets/clientes.csv")

In [ ]:
# Importar dataset marketing
df_marketing = pd.read_csv("https://raw.githubusercontent.com/VASUDEVAKAMASWAMI/TT-2C2025-Data-Analitycs-Notebooks/refs/heads/main/PreEntrega/Datasets/marketing.csv")

In [ ]:
# Comprobación importación del dataset ventas (retornar primeras cinco filas)
df_ventas.head()

In [ ]:
# Comprobación importación del dataset clientes (retornar primeras cinco filas)
df_clientes.head()

In [ ]:
# Comprobación importación del dataset marketing (retornar primeras cinco filas)
df_marketing.head()

### Actividad 2:  Script básico
Realizar un script básico que calcule las ventas mensuales utilizando variables y operadores

In [ ]:

# Generación de una lista de diccionarios
ventas = [
  {'producto': 'notebook', 'precio': 1500.0, 'cantidad': 3, 'fecha_venta': "21/01/2024"},
  {'producto': 'disco sólido 15GB', 'precio': 20000.0, 'cantidad': 5, 'fecha_venta': "28/01/2024"},
  {'producto': 'monitor', 'precio': 500.0, 'cantidad': 5, 'fecha_venta': "25/02/2024"},
  {'producto': 'mouse', 'precio': 20.0, 'cantidad': 15, 'fecha_venta': "02/03/2024"},
  {'producto': 'cooler', 'precio': 500.0, 'cantidad': 3, 'fecha_venta': "03/04/2024"},
  {'producto': 'cable usb', 'precio': 500.0, 'cantidad': 5, 'fecha_venta': "10/05/2024"},
  {'producto': 'memoria usb', 'precio': 500.0, 'cantidad': 25, 'fecha_venta': "11/06/2024"},
  {'producto': 'disco rígido 1GB', 'precio': 1000.0, 'cantidad': 5, 'fecha_venta': "15/07/2024"},
  {'producto': 'disco rígido 2GB', 'precio': 2000.0, 'cantidad': 6, 'fecha_venta': "29/08/2024"},
  {'producto': 'disco rígido 4GB', 'precio': 4000.0, 'cantidad': 8, 'fecha_venta': "23/09/2024"},
  {'producto': 'disco sólido 50GB', 'precio': 10000.0, 'cantidad': 5, 'fecha_venta': "05/10/2024"},
  {'producto': 'disco sólido 100GB', 'precio': 15000.0, 'cantidad': 15, 'fecha_venta': "17/11/2024"},
  {'producto': 'disco sólido 15GB', 'precio': 20000.0, 'cantidad': 1, 'fecha_venta': "22/12/2024"},
  {'producto': 'disco sólido 20GB', 'precio': 25000.0, 'cantidad': 1, 'fecha_venta': "27/12/2024"}
  ]

In [ ]:

# creamos el diccionario vacío ventas_mensuales
ventas_mensuales={}

# Recorremos el diccionario ventas y ubicamos las ventas  correspondientes a cada mes range(1,13)
# Si el índice correspondiente al mes ya se encuentra en el diccionario sumamos el p*q, y si no está, entonces agregamos el producto p*q para ese índice (mes)
for venta in ventas:
  for m in range(1,13):
    if (int(venta["fecha_venta"].split("/")[1]))==m:
      if m in ventas_mensuales:
        ventas_mensuales[m] += venta["precio"] * venta["cantidad"]
      else:
        ventas_mensuales[m] = venta["precio"] * venta["cantidad"]
# Ordenamos el diccionario ventas_mensuales por su índice (mes) y finalmente imprimimos el diccionario

ventas_mensuales = dict(sorted(ventas_mensuales.items()))
ventas_mensuales

### Actividad 3: Estructuras de Datos

Desarrollar un programa que almacene los datos de ventas (producto, precio, cantidad). Decidir si conviene utilizar diccionarios o listas.

### Actividad 4: Introducción a Pandas

Realizar un análisis exploratorio inicial de los DataFrames.

El objetivo del análisis exploratorio de datos (EDA) es evaluar conjuntos de datos para resumir sus características principales, descubrir patrones, detectar anomalías y verificar hipótesis y/o suposiciones.

Algunos de los principales métodos EDA que hemos estudiado son: info, columns, dtypes, head, tail, sample, unique, value_counts, describe, duplicated, isnull.

# DATAFRAME ventas
##Análisis exploratorio de datos

In [ ]:
#  El método info() no devuelve ningún valor, sólo imprime información sobre el DataFrame.
# Dicha información incluye el número de columnas (3035), las etiquetas de las columnas ("id_venta", "producto", "precio", "cantidad", "fecha_venta" y "categoría"), los tipos de datos de las columnas (int64, objecto, float64),
# el uso de la memoria (142.4+ K), el índice de rango (RangeIndex: 0,1,2...) y el número de celdas en cada columna (valores no nulos).
# OBSERVACIONES:  las columnas "precio" y "cantidad" poseen dos valores nulos
df_ventas.info()

In [ ]:
# El método head(n) devuelve los encabezados y el número especificado (n) de filas del DataFrame. Si no se especifica el n, por defecto devuelve las primeras cinco filas.
# El método tail(n) permite visualizar los encabezados y las últimas n filas del DataFrame. Si no se especifica el n, por defecto devuelve las últimas cinco filas.
#df_ventas.head()
df_ventas.tail(10)

In [ ]:
# El método sample(n) devuelve los encabezados y n registros al azar.  Si no se especifica el n, por defecto devuelve  sólo una fila.
df_ventas.sample(3)

In [ ]:
# El método .sample(n) permite muestrear sólo una o algunas columnas especificadas a través de una lista.
#df_ventas["producto"].sample(5)
df_ventas[["producto","precio"]].sample(5)

In [ ]:
# el método .describe() de los dataframes presenta un resumen de la estadistica descriptiva general de las columnas numericas del dataframe:
#Promedio (mean)
#Desviacion estandard (std)
#Valor minimo
#Valor maximo
#Cuartiles (25%, 50% y 75%)
df_ventas.describe()

In [ ]:
# Muestreo al azar de la columna o Series "fecha_venta"
df_ventas["fecha_venta"].sample(5)

In [ ]:
# Análisis de la columna o Series "categoria"
# El método value_counts()	retorna el número de filas únicas
#df_ventas["categoria"].value_counts()

# El métod .unique() extrae los diferentes valores de una Series  (o columna única de un DF). Devuelve un array NumPy conteniendo los valores únicos en orden de aparición.
df_ventas["categoria"].unique()

# DATAFRAME clientes
##Análisis exploratorio de datos

In [ ]:
#  El método info() no devuelve ningún valor, sólo imprime información sobre el DataFrame.
# Dicha información incluye el número de columnas (3035), las etiquetas de las columnas ("id_venta", "producto", "precio", "cantidad", "fecha_venta" y "categoría"), los tipos de datos de las columnas (int64, objecto, float64),
# el uso de la memoria (142.4+ K), el índice de rango (RangeIndex: 0,1,2...) y el número de celdas en cada columna (valores no nulos).
# OBSERVACIONES:  las columnas "precio" y "cantidad" poseen dos valores nulos
df_clientes.info()

In [ ]:
# El método head(n) devuelve los encabezados y el número especificado (n) de filas del DataFrame. Si no se especifica el n, por defecto devuelve las primeras cinco filas.
# El método tail(n) permite visualizar los encabezados y las últimas n filas del DataFrame. Si no se especifica el n, por defecto devuelve las últimas cinco filas.
#df_clientes.head()
df_clientes.tail(10)

In [ ]:
# El método sample(n) devuelve los encabezados y n registros al azar.  Si no se especifica el n, por defecto devuelve  sólo una fila.
df_clientes.sample(3)

In [ ]:
# El método .sample(n) permite muestrear sólo una o algunas columnas especificadas a través de una lista.
#df_clientes["edad"].sample(5)
df_clientes[["nombre","edad"]].sample(5)

In [ ]:
# el método .describe() de los dataframes presenta un resumen de la estadistica descriptiva general de las columnas numericas del dataframe:
#Promedio (mean)
#Desviacion estandard (std)
#Valor minimo
#Valor maximo
#Cuartiles (25%, 50% y 75%)
df_clientes.describe()

In [ ]:
# Muestreo al azar de la columna o Series "ciudad"
df_clientes["ciudad"].sample(5)

In [ ]:
# Análisis de la columna o Series "ciudad"
# El método value_counts()	retorna el número de filas únicas
#df_clientes["ciudad"].value_counts()

# El métod .unique() extrae los diferentes valores de una Series  (o columna única de un DF). Devuelve un array NumPy conteniendo los valores únicos en orden de aparición.
df_clientes["ciudad"].unique()

# DATAFRAME marketing
##Análisis exploratorio de datos

In [ ]:
#  El método info() no devuelve ningún valor, sólo imprime información sobre el DataFrame.
# Dicha información incluye el número de columnas (3035), las etiquetas de las columnas ("id_venta", "producto", "precio", "cantidad", "fecha_venta" y "categoría"), los tipos de datos de las columnas (int64, objecto, float64),
# el uso de la memoria (142.4+ K), el índice de rango (RangeIndex: 0,1,2...) y el número de celdas en cada columna (valores no nulos).
# OBSERVACIONES:  las columnas "precio" y "cantidad" poseen dos valores nulos
df_marketing.info()

In [ ]:
# El método head(n) devuelve los encabezados y el número especificado (n) de filas del DataFrame. Si no se especifica el n, por defecto devuelve las primeras cinco filas.
# El método tail(n) permite visualizar los encabezados y las últimas n filas del DataFrame. Si no se especifica el n, por defecto devuelve las últimas cinco filas.
#df_marketing.head()
df_marketing.tail(10)

In [ ]:
# El método sample(n) devuelve los encabezados y n registros al azar.  Si no se especifica el n, por defecto devuelve  sólo una fila.
df_marketing.sample(3)

In [ ]:
# El método .sample(n) permite muestrear sólo una o algunas columnas especificadas a través de una lista.
#df_marketing["id_campaha"].sample(5)
df_marketing[["producto","canal"]].sample(5)

In [ ]:
# el método .describe() de los dataframes presenta un resumen de la estadistica descriptiva general de las columnas numericas del dataframe:
#Promedio (mean)
#Desviacion estandard (std)
#Valor minimo
#Valor maximo
#Cuartiles (25%, 50% y 75%)
df_marketing.describe()

In [ ]:
# Muestreo al azar de la columna o Series "costo"
df_marketing["costo"].sample(5)

In [ ]:
# Análisis de la columna o Series "producto"
# El método value_counts()	retorna el número de filas únicas
#df_ventas["producto"].value_counts()

# El métod .unique() extrae los diferentes valores de una Series  (o columna única de un DF). Devuelve un array NumPy conteniendo los valores únicos en orden de aparición.
df_marketing["producto"].unique()

### Actividad 5: Calidad de Datos

Identificar valores nulos y duplicados en los conjuntos de datos. Documentar el estado inicial de los datos.

# DATAFRAME ventas
##Calidad de los datos

In [ ]:
# Buscamos registros duplicados
df_ventas.duplicated().sum()

In [ ]:
# Visualizamos los duplicados
# keep: 'first', 'last', False
df_ventas[df_ventas.duplicated(keep=False)].sort_values(by="producto")

In [ ]:
# Buscamos datos nulos
df_ventas.isnull().sum()

In [ ]:
# Visualizar los nulos
# df_ventas[df_ventas.isnull().any(axis=1)]
df_ventas[df_ventas.isnull().any(axis=1)]

In [ ]:
# Analizar los precios de los NaN a ver que opciones tenemos
# df_ventas[df_ventas["producto"]=="Elementos de cerámica"]
df_ventas["producto"].value_counts()
# df_ventas["producto"].unique()

### DF ventas --> Observaciones
* Cantidad de registros: 3035
* Columnas 6
* 35 duplicados, eliminarlos
* Algunos nulos (2), 1% del faltante, dropna
* Campo precio: encontre $, removerlo y luego cambiar el dtype a float64
* Campo fecha: ajustar a dtype datetime

# DATAFRAME clientes
##Calidad de los datos

In [ ]:
# Buscamos registros duplicados
df_clientes.duplicated().sum()

In [ ]:
# Visualizamos los duplicados
# keep: 'first', 'last', False
df_clientes[df_clientes.duplicated(keep=False)].sort_values(by="id_cliente")

In [ ]:
# Buscamos datos nulos ==> NO EXISTEN NULLS!!!!
df_clientes.isnull().sum()

In [ ]:
# Visualizar los nulos ==> NO EXISTEN NULLS!!!!
# df_ventas[df_ventas.isnull().any(axis=1)]
df_clientes[df_clientes.isnull().any(axis=1)]

In [ ]:
# Analizar los precios de los NaN a ver que opciones tenemos  <--- NO EXISTEN NULLS!!!!
# df_ventas[df_ventas["producto"]=="Elementos de cerámica"]
df_clientes["producto"].value_counts()
# df_clientes["producto"].unique()

### DF clientes  --> Observaciones
* Cantidad de registros: 3035
* Columnas 6
* 35 duplicados, eliminarlos
* Algunos nulos (2), 1% del faltante, dropna
* Campo precio: encontre $, removerlo y luego cambiar el dtype a float64
* Campo fecha: ajustar a dtype datetime

# DATAFRAME marketing
##Calidad de los datos

In [ ]:
# Buscamos registros duplicados  ==> NO EXISTEN DUPLICADOS!!!!
df_marketing.duplicated().sum()

In [ ]:
# Visualizamos los duplicados  ==> NO EXISTEN DUPLICADOS!!!!
# keep: 'first', 'last', False
df_marketing[df_marketing.duplicated(keep=False)].sort_values(by="producto")

In [ ]:
# Buscamos datos nulos
df_marketing.isnull().sum()

In [ ]:
# Visualizar los nulos
# df_ventas[df_ventas.isnull().any(axis=1)]
df_marketing[df_marketing.isnull().any(axis=1)]

In [ ]:
# Analizar los precios de los NaN a ver que opciones tenemos
# df_ventas[df_ventas["producto"]=="Elementos de cerámica"]
df_marketing["producto"].value_counts()
# df_marketing["producto"].unique()

### DF marketing --> Observaciones
* Cantidad de registros: 3035
* Columnas 6
* 35 duplicados, eliminarlos
* Algunos nulos (2), 1% del faltante, dropna
* Campo precio: encontre $, removerlo y luego cambiar el dtype a float64
* Campo fecha: ajustar a dtype datetime

# Etapa 2
## Limpieza de datos
#Actividad 1
Limpiar el conjunto de datos eliminando duplicados y caracteres no deseados. Documentar el proceso y los resultados.

# DATAFRAME ventas
##  Limpieza de datos: tareas


* 35 duplicados, eliminarlos - se eliminaron 35 duplicados
* Algunos nulos (2), 1% del faltante, dropna - se eliminaron 2 registros con 2 NaN
* Campo precio: encontre $, removerlo y luego cambiar el dtype a float64 - Ok
* Campo fecha: ajustar a dtype datetime - Ok

In [ ]:
# Eliminamos registros duplicados
# atributos a evaluar, keep, ignore_index, inplace
df_ventas.drop_duplicates(inplace=True, ignore_index=True)

In [ ]:
# Validamos que no haya duplicados
df_ventas.duplicated().sum()

In [ ]:
# Eliminamos registros con datos nulos
df_ventas.dropna(inplace=True)

In [ ]:
# Validamos que no haya nulos
# df_ventas.isnull().sum()
df_ventas.info()

In [ ]:
# Eliminamos el caracter especial $ de precio
# Normalización: usar replace()
# De ser necesario, podemos usar el atributo regex=True
df_ventas["precio"] = df_ventas["precio"].str.strip().str.replace("$", "")

In [ ]:
# Validamos que precio no contenga $
df_ventas["precio"].sample(3)

In [ ]:
# Convertimos precio de str a float
# Podemos usar pd.to_numeric o astype o incluso combinarlos
df_ventas["precio"] = df_ventas["precio"].astype(float)

In [ ]:
# Convertir el dtype de cantidad, de float64 a int64
df_ventas["cantidad"]= df_ventas["cantidad"].astype(int)

In [ ]:
# Validar la conversion a int
df_ventas["cantidad"].dtypes

In [ ]:
# Convertir el campo fecha_venta a dtype datetime
# pd.to_datetime(df_ventas["fecha_venta"], format="%d/%m/%Y")
# pd.to_datetime(df_ventas["fecha_venta"], dayfirst=True)
df_ventas['fecha_venta'] = pd.to_datetime(df_ventas['fecha_venta'], format="%d/%m/%Y")

In [ ]:
# Validar la conversion de fecha
df_ventas['fecha_venta'].dtype

# DATAFRAME clientes
##  Limpieza de datos: tareas


* 35 duplicados, eliminarlos - se eliminaron 35 duplicados
* Algunos nulos (2), 1% del faltante, dropna - se eliminaron 2 registros con 2 NaN
* Campo precio: encontre $, removerlo y luego cambiar el dtype a float64 - Ok
* Campo fecha: ajustar a dtype datetime - Ok

# DATAFRAME marketing
##  Limpieza de datos: tareas


* 35 duplicados, eliminarlos - se eliminaron 35 duplicados
* Algunos nulos (2), 1% del faltante, dropna - se eliminaron 2 registros con 2 NaN
* Campo precio: encontre $, removerlo y luego cambiar el dtype a float64 - Ok
* Campo fecha: ajustar a dtype datetime - Ok

* Convertir a datetime fecha_inicio / fecha_fin

In [ ]:
df_marketing.info()

In [ ]:
# Convertir el campo fecha_inicio a dtype datetime
df_marketing['fecha_inicio'] = pd.to_datetime(df_marketing['fecha_inicio'], format="%d/%m/%Y")

In [ ]:
# Convertir el campo fecha_fin a dtype datetime
df_marketing['fecha_fin'] = pd.to_datetime(df_marketing['fecha_fin'], format="%d/%m/%Y")

In [ ]:
# Validamos los cambios

# Etapa 2
## Transformación de datos
#Actividad 2

Aplicar filtros y transformaciones para crear una tabla de ventas que muestre solo los productos con alto rendimiento.

In [ ]:
df_ventas.head(2)

In [ ]:
# Transformación:
# Calculamos el valor de cada venta = precio * cantidad
# Agregamos una nueva columnas
df_ventas["valor_venta"] = df_ventas["precio"] * df_ventas["cantidad"]

In [ ]:
# Visualizamos
df_ventas.head(2)

In [ ]:
# Agregación:
# Agrupar valor_venta por producto
# Sumamos las ventas dentro de cada grupo
tabla_ventas = (df_ventas.groupby("producto", as_index=False)["valor_venta"].sum())
tabla_ventas.head()

In [ ]:
# Usemos describe para analizar algunos valores del dataframe resultante
tabla_ventas.describe()

In [ ]:
# Agregamos un plot para visualizar graficamente la distribución
import seaborn as sns
import matplotlib.pyplot as plt

sns.histplot(tabla_ventas["valor_venta"], bins=30, kde=True, edgecolor="black")
plt.title("Distribución de Valor de Venta con Curva de Densidad")
plt.xlabel("Valor de venta")
plt.ylabel("Frecuencia")
plt.show()

In [ ]:
# Calcular el percentil 75 (umbral de alto rendimiento)
umbral_ventas = tabla_ventas["valor_venta"].quantile(0.75)
umbral_ventas

In [ ]:
# Identificar productos que superan el umbral
# productos_top = tabla_ventas.query("valor_venta >= @umbral")
productos_top = tabla_ventas[tabla_ventas["valor_venta"] >= umbral_ventas]
productos_top

# Etapa 2
## Agregación de datos
#Actividad 3

 Resumir las ventas por categoría de producto y analizar los ingresos generados.

In [ ]:
df_ventas.columns

In [ ]:
# Agrupamos por categoria y agregamos la suma
ventas_categoria = df_ventas.groupby("categoria", as_index=False)["valor_venta"].sum()
ventas_categoria.head()

In [ ]:
ventas_categoria

In [ ]:
# Ordenar y mostrar los resultados
ventas_categoria

# Etapa 2
## Integración de datos
#Actividad 4

 Combinar los sets de datos de ventas y marketing para obtener una visión más amplia de las tendencias.

In [ ]:
df_ventas.info()

In [ ]:
df_marketing.info()

In [ ]:
# Vemos la cantidad de productos unicos en ventas
df_ventas["producto"].nunique()

In [ ]:
# Vemos la cantidad de productos unicos en marketing
df_marketing["producto"].nunique()

In [ ]:
# Listamos los registros de ventas ordenados por producto ascendiente
df_ventas.sort_values(by="producto", ascending=True )

In [ ]:
# Listamos los registros de marketing ordenados por producto ascendiente
df_marketing.sort_values(by=["producto","canal"])

In [ ]:
# Para evitar duplicados, habria que agrupar marketing antes de hacer el merge (a costa de perder la fecha)
df_marketing_avg = df_marketing.groupby(["producto"], as_index=False)["costo"].mean()
df_marketing_avg

In [ ]:
# Unir los datasets ventas y marketing por columna 'producto'
# Aqui tienen dos caminos, unir ventas con df_marketing que tiene duplicados
ventas_marketing = pd.merge(df_ventas, df_marketing, on="producto", how="left")
# O, unir ventar con df_marketing_avg que no tiene duplicados, pero no tiene fechas
# ventas_marketing = pd.merge(df_ventas, df_marketing_avg, on="producto", how="inner")

In [ ]:
# Verificar coincidencias (muestra)
ventas_marketing.sort_values(by=["producto", "precio"], ascending=True)

# Nota1: si unieron ventas con marketing, obtienen 8994 registros
# Nota2: si unieron ventas con marketing_avg obtienen 2998 registros

# ANÁLISIS DEL IMPACTO DE CAMPAÑA

Ver

In [ ]:
# Nos quedamos solo con los registros de ventas durante la campaña de marketing
# Nota: si trabajan con el datafrane marketing pueden aplicar el filtro,
# si trabajan con dataframe marketing_avg, al no tener fecha, no apliquen el filtro.

ganancias_marketing = ventas_marketing.query("fecha_venta > fecha_inicio & fecha_venta < fecha_fin")

# Seleccionamos solo los campos que nos interesan: "producto", "valor_venta", "costo"
ganancias_marketing = ganancias_marketing[["producto", "valor_venta", "costo"]]
ganancias_marketing.sort_values(by="producto", ascending=True)

In [ ]:
# Agrupamos por producto y hacemos una agregación por "valor de venta" y "costo"
ganancias_marketing = ganancias_marketing.groupby("producto")[["valor_venta","costo"]].sum()

In [ ]:
# Generamos una nueva columna con la diferencia entre lo vendido y lo invertido en la campaña
ganancias_marketing["ganancia_neta"] = ganancias_marketing['valor_venta']-ganancias_marketing['costo']
ganancias_marketing=ganancias_marketing.sort_values(by="ganancia_neta", ascending=False)

In [ ]:
# Crear un gráfico de barras apilado para comparar valor_venta y costo por producto
ganancias_marketing[["valor_venta", "costo"]].plot(kind='bar', stacked=True, figsize=(12, 6))
plt.title("Comparación de Valor de Venta y Costo por Producto")
plt.xlabel("Producto")
plt.ylabel("Monto")
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

# Solución al problema de los duplicados

Ver

In [ ]:
# Hacemos el merge entre marketing y ventas por columna producto
marketing_ventas = pd.merge(df_marketing, df_ventas, on="producto", how="inner")
marketing_ventas.sort_values(by="producto", ascending=True)

In [ ]:
# filtramos solo aquellos productos que se hayan vendido dentro de la campaña
marketing_ventas_pp1 = marketing_ventas.query("fecha_venta > fecha_inicio & fecha_venta < fecha_fin")

In [ ]:
# Calculamos el total_ventas por producto haciendo valor_venta * cantidad
marketing_ventas_pp2 = marketing_ventas_pp1.copy() # para eliminar la advertencia
marketing_ventas_pp2["total_venta"] = (
    marketing_ventas_pp2["valor_venta"] * marketing_ventas_pp2["cantidad"]

In [ ]:
# Agrupamos el dataframe por producto usando .agg
# Agregar total_venta como el promedio, elimina el impacto de los datos duplicados
# Y seguimos agegando costo como la suma de lo invertido en cada canal
ganancias_marketing = marketing_ventas_pp2.groupby("producto").agg(
    {
        "total_venta": "mean",
        "costo": "sum",
    }
)

In [ ]:
# A partir de venta_total y costo, calculamos la ganancia obtenida
ganancias_marketing["ganancia"]= ganancias_marketing["total_venta"]-ganancias_marketing["costo"]
ganancias_marketing = ganancias_marketing.sort_values(by="ganancia", ascending=False)
ganancias_marketing.head(3)

In [ ]:
# Crear un gráfico de barras apilado para comparar valor_venta y costo por producto
ganancias_marketing[["total_venta", "costo"]].plot(kind='bar', stacked=True, figsize=(12, 6))
plt.title("Comparación de Valor de Venta y Costo por Producto")
plt.xlabel("Producto")
plt.ylabel("Monto")
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

Ahora en el gráfico los costos de campañas de marketing sin más signficativos.